*{
    padding:0;
    margin:0;
}
.container{
    position: absolute;
    top:100px;
    left:500px;
    width:345px;
    height: 420px;
    background-color: transparent;
}
.input{
    position: relative;
    top:100px;
    width: inherit;
    height: 300px;
    /* border:1px solid red; */

}
.output{
    position: absolute;
    border:1px solid white;
    border-radius:10px 10px 10px 10px;
    right:22px;
    top:1px;   
    height: 90px;
    width: 300px;
    background-color: #131922;
}
.elemnt{
    position: relative;
    border-radius: 30px 30px 30px 30px;
    width:70px;
    height: 50px;
    color:white;
    background-color: #131922;
    margin:5px;
    border:1px solid rgb(148, 144, 144);
}
.elemnt:hover{
    background-color: white;
    color:black;
    transition: 0.4s;
}

p{
    position: relative;
    padding-right:10px;
    padding-left: 10px;
    padding-top:10px;
    bottom:0px;
    color: white;
}
